doctype html
html(lang="en")
  head
    title Purjochat
  link(rel='stylesheet', href='css/styles.css')
  script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
  script(type='text/javascript', src='js/test.js')
  body
    h1 Purjochat
    #container
      p.
        Testi
    div(class='chat-box')
        input(type='checkbox')
        label(data-expanded="Close Chatbox", data-collapsed="Open Chatbox")
        div(class='chat-box-content')
          p(style='white-space:pre;')
            ul
              li Ciluk baaa!!!
              li Ciluk baafgdfga!!!
              li Ciluk baaa!!!
              li Ciluk baaa!!!
              li Ciluk baaa!!!
              li Ciluk baaa!!!
              li Ciluk baaa!!!
              li Ciluk baaa!!!
              li Ciluk baaa!!!
              li Ciluk baaa!!!
              li Ciluk baaa!!!
              li Ciluk baaa!!!
              li Ciluk baaa!!!
              li Ciluk baaa!!!
              li Ciluk baaa!!!
              li Ciluk baaa!!!
              li Ciluk baaa!!!
              li Ciluk baaa!!!
              li Ciluk baaa!!!
              li Ciluk baaa!!!
              li Ciluk baaa!!!
              li Ciluk baaa!!!
              li Ciluk baaa!!!
              li Ciluk ba
