.speech
  color #000
  margin-top 10px
  padding 12px
  width 90%
  max-width 150px
  position relative
  background #fff
  border: 2px solid #666
  -webkit-border-radius 10px
  -moz-border-radius 10px
  border-radius 10px
  -webkit-box-shadow 2px 2px 4px #888
  -moz-box-shadow 2px 2px 4px #888
  box-shadow 2px 2px 4px #888

  &.own
    text-align right
    &:after
      content ""
      position absolute
      top 100%
      right 20px
      border-top 20px solid blue
      border-top-color #888
      border-left 20px solid transparent
      border-right 20px solid transparent
      clear right
    
  &.other:after
    content ""
    position absolute
    top 100%
    left 20px
    border-top 20px solid blue
    border-top-color #888
    border-left 20px solid transparent
    border-right 20px solid transparent

/*
p.speech
  position relative
  width 70%
  max-width 200px
  height 20px
  text-align center
  line-height 100px
  background-color #fff
  border: 2px solid #666
  -webkit-border-radius 30px
  -moz-border-radius 30px
  border-radius 30px
  -webkit-box-shadow 2px 2px 4px #888
  -moz-box-shadow 2px 2px 4px #888
  box-shadow 2px 2px 4px #888

  &:before
    content ' '
    position absolute
    width 0
    height 0
    left 30px
    top 22px
    border 25px solid
    border-color #666 transparent transparent #666


  &:after
    content ' '
    position absolute
    width 0
    height 0
    left 38px
    top 24px
    border 15px solid
    border-color #fff transparent transparent #fff
*/
